
body{
    background: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg);
}


ul {
    background: gray ;
    padding: 20px;
    /*display: none;*/ /*<<<<<Desaparece o display>>>>*/
    /*visibility: hidden;*/ /*<<esaparece o display, porem mantem a area*/
    opacity: 0.5 ;
}

ul li {
    display: inline;
    margin: 20px;
}